.logo{
    width: 50px;
    height: auto;
    margin-top: -20px;
}

.navbar-color{
    background-color: #FF0063 !important;
}

.mark-color{
    background-color: #FF0063 !important;
}

.btn-convertion{
    background-color: #FF0063 !important;
}

.explanation-container{
    top: 480px;
    padding-bottom: 50px !important;
}